h1 {
	font-family: "Great Vibes", cursive;
	font-size: 500%;
	padding: 20px;
}

li {
	padding-right: 30px;
}

ul {
	list-style: none;
	display: flex;
}

.center {
	text-align: center;
	margin: auto;
}

.contain {
	display: flex;
}

.large-img {
	margin-top: 20px;
	max-width: 100%;
	max-height: 100%;
}

.logo {
	float: right;
}

.need-help {
	padding-top: 75px;
	float: right;
}

.sub-contain {
	width: 20%;
	padding: 15px;
}

.sub-contain-main {
	width: 80%;
}

#feat {
	border-radius: 25px;
	border: 2px solid rgb(0, 246, 255);
	padding: 15px;
	margin: 20px;
}
