body {
	background: url(https://controlzdesign.files.wordpress.com/2017/03/universe-1566159.jpg);
}

h1 {
	font-family: "Great Vibes", cursive;
	color: #c0c0c0;
	font-size: 500%;
	padding: 20px;
}

h3 {
	font-family: "Itim", cursive;
	font-size: 40px;
	font-weight: 400;
	margin: 0;
	text-align: right;
}

hr {
	border: 0;
	height: 2px;
	background: linear-gradient(to right, rgba(65, 244, 226, 0.05), rgb(66, 212, 244), rgba(65, 244, 226, 0.05));
}

nav {
	max-width: 100%;
}

.about {
	font-family: "Tangerine", cursive;
	text-align: center;
	margin-bottom: 0;
	font-size: 300%;
	font-weight: 900;
	color: #00B7EB;
}

.amelia {
	color: #00FFFF;
}
	
.center {
	text-align: center;
	margin: auto;
}

.contact {
	list-style: none;
	display: flex;
	padding: 10px;
}

.contain {
	display: flex;
}

.feat-img {
	padding-right: 10px;
	max-width: 100%;
}

.inner-feat {
	display: flex;
}

.large-img {
	margin-top: 20px;
	padding-right: 10px;
	max-width: 100%;
	max-height: 100%;
}

.logo {
	float: right;
}

.nav {
	background: rgba(0, 158, 173, 0.7);
	border: 2px solid rgb(76, 208, 232);
	
	color: black;
	font-family: 'Bellefair', serif;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	
	width: 25%;
	padding: 15px 32px;
}

.nav:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0, .2);
	/* TODO: Make image responsive */
	background: url("https://wallpaperscraft.com/image/smoke_light_shadow_background_dark_15396_3840x2400.jpg");
	color: /* rgb(70, 255, 255) */ #0df;
}

.nav-center1 {
	border-left: none;
	border-right: none;
}

.nav-center2 {
	border-right: none;
}

.nav-list {
	list-style: none;
	display: flex;
	padding-left: 0;
}

.nav-page {
	width: 25%;
}

.need-help {
	padding-top: 75px;
	float: right;
}

.social {
	border-radius: 50px;
	border: none;
	max-width: 70px;
	height: auto;
}

.social-flex {
	margin: center;
	display: flex;
}

.sub-contain {
	width: 20%;
	padding: 15px;
}

.sub-contain-main {
	width: 80%;
}

#about {
	text-align: justify;
	font-family: "Josefin Slab", serif;
}

#feat {
	border-radius: 25px;
	border: 2px solid #42ebf4;
	padding: 15px;
	margin: 20px;
}

#feat-mini {
	margin-top: 40px;
}
