h1 {
	font-family: "Great Vibes", cursive;
	font-size: 500%;
	padding: 20px;
}

nav {
	max-width: 100%;
}

.center {
	text-align: center;
	margin: auto;
}

.contain {
	display: flex;
}

.large-img {
	margin-top: 20px;
	max-width: 100%;
	max-height: 100%;
}

.logo {
	float: right;
}

.nav {
	background-color: rgba(0, 158, 173, 0.7);
	border: 2px solid rgb(76, 208, 232);
	
	color: black;
	font-family: 'Bellefair', serif;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	
	width: 25%;
	padding: 15px 32px;
}

.nav:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0, .2);
	/* TODO: Make image responsive */
	background: url("https://wallpaperscraft.com/image/smoke_light_shadow_background_dark_15396_3840x2400.jpg");
	color: rgb(70, 255, 255);
}

.nav-center1 {
	border-left: none;
}

.nav-center2 {
	border-right: none;
}

.nav-list {
	list-style: none;
	display: flex;
	padding-left: 0;
}

.nav-page {
	width: 25%;
}

.need-help {
	padding-top: 75px;
	float: right;
}

.sub-contain {
	width: 20%;
	padding: 15px;
}

.sub-contain-main {
	width: 80%;
}

#feat {
	border-radius: 25px;
	border: 2px solid rgb(0, 246, 255);
	padding: 15px;
	margin: 20px;
}
